//COLOR
$color-primary:#202229;
$color-primary-text:#ffffff;
$color-primary-text-dark:#e9ecef;
$color-btn-box:#178bb2;

$color-browser:#9d7542;


//GRID
$grid-gutter:3rem;

//
$color-input-token:#2d3238;

$color-button-token-1:#343a40;