*, *::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html{
    font-size:62.5%;//1rem  = 10px ; 10px/16px = 62.5%
    @include respond(phone){
        font-size: 50%; // 1rem  =  8px 
    }
    @include respond(tab-port){
        font-size: 60%; //  1rem  = 9px 
    }
    @include respond(tab-land){
        font-size: 56.25%;// 1rem  = 11px
    }
    @include respond(tab-desktop){
        font-size: 75%; // 1rem  = 12px
    }
}
 
body{
    background-color: $color-primary;
    color: $color-primary-text;
}