.text-weight{
    font-weight: 600;
}
.text-weight-light{
    font-weight: 400;
}

.margin-right-small{
    &:not(:last-child){
        margin-right: 1.8rem;
    }
}
.margin-right-medium{
    &:not(:last-child){
        margin-right: 3rem;
    }
}
.margin-bottom-small{
    &:not(:last-child){
        margin-bottom: 1rem;
    }
}
.margin-bottom-medium{
    &:not(:last-child){
        margin-bottom: 4rem;
    }
}
.margin-bottom-medium-token{
    &:not(:last-child){
        margin-bottom: 4rem;
    }
}
.margin-left-small{
    &:not(:last-child){
       margin-left: 2rem;
    }
}
.padding-left-small{
   
        padding-left: 1rem !important;
   
}
.display-inline-block{
    display: inline-block;
}
.clearfix{
    clear: both;
    display: table;
    content: "";
}